<div class="container py-3 h-100 mt-4">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-xl-12">
      <div class="card text-black">
        <div class="card-body p-md-5 mx-md-4">
          <div class="row">
            <div class="col-12">
              <h3>Employee Details</h3>
              <div class="mb-0">
                <strong>Full Name:</strong>
                <%= @employee.full_name %>
              </div>

              <div class="mb-0">
                <strong>Designation:</strong>
                <%= @employee.designation %>
              </div>

              <div class="mb-0">
                <strong>Department:</strong>
                <%= @employee.department.name  %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>






     
